# Visual Studio
.vs/
*.user
*.suo

# .NET build files
**/bin/
**/obj/

# .NET user secrets
**/secrets.json

# React / Node
**/node_modules/
**/dist/

# Environment files
**/.env
**/.env.*
!.env.example

# Logs
*.log

# ZIP files
*.zip

# OS files
.DS_Store
Thumbs.db

**/appsettings.Development.json